/LinearThresholdModels/.DS_Store
/SpikingSimulationModels/.DS_Store
/SpikingSimulationModels/SimulationResults/*
/SpikingSimulationModels/*.pyc
/SpikingSimulationModels/Figures/*.pdf
/PyNN/*.dat
/PyNN/*.gdf
