/LinearThresholdModels/.DS_Store
/SpikingSimulationModels/.DS_Store
/SpikingSimulationModels/SimulationResults*
/SpikingSimulationModels/*.pyc
/SpikingSimulationModels/Figures/*.pdf
/PyNN/*.dat
/PyNN/*.gdf
/SpikingSimulationModels/test/*.dat
/PyNN/x86_64
/PyNN/*.mod
/PyNN/*.spikes
/PyNN/LEMS_*.xml
/PyNN/ISN.net.nml
/SpikingSimulationModels/__pycache__
/PyNN/LEMS_Sim_ISN_netpyne.py
/PyNN/analysis_perturbation_pynn_ss.py
/NeuroML2/*.gv
/NeuroML2/*.gv.pdf
/NeuroML2/*.pov
/NeuroML2/*.dat
/NeuroML2/*.ini
/NeuroML2/*nrn.py
/NeuroML2/*.mod
/NeuroML2/x86_64
/NeuroML2/ISN.net.png
/NeuroML2/report*.txt
/PyNN/*.gv
/PyNN/*.gv.pdf
/PyNN/*_nrn.py
/PyNN/ISN.net.png
/PyNN/Me.png
/PyNN/*.pov
/PyNN/*.ini
/PyNN/rerun.sh
/PyNN/rates0.png
/PyNN/kernelseed
/PyNN/clean.sh
/PyNN/old*
/PyNN/rates.png
/PyNN/*.pyc
/PyNN/__pycache__
*.gv.png
