/LinearThresholdModels/.DS_Store
/SpikingSimulationModels/.DS_Store
/SpikingSimulationModels/SimulationResults/*
/SpikingSimulationModels/*.pyc
/SpikingSimulationModels/Figures/*.pdf
/PyNN/*.dat
/PyNN/*.gdf
/SpikingSimulationModels/test/*.dat
/PyNN/x86_64
/PyNN/*.mod
/PyNN/*.spikes
/PyNN/LEMS_*.xml
